.open-dropdown .open-dropdown__menu {
    --open-dropdown-menuItem-hover-fill: var(--open-color-primary-light-9);
    --open-dropdown-menuItem-hover-color: var(--open-color-primary);
    --open-dropdown-menuItem-disabled-color: var(--open-border-color-lighter);
    --open-dropdown-menuItem-divided-color: var(--open-border-color-lighter);
}
.open-dropdown {
    display: inline-block;
    .open-tooltip {
        --open-popover-padding: 5px 0;
    }
}
.open-dropdown__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .open-dropdown__item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        list-style: none;
        line-height: 22px;
        padding: 5px 16px;
        margin: 0;
        font-size: var(--open-font-size-base);
        color: var(--open-text-color-regular);
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: var(--open-dropdown-menuItem-hover-fill);
            color: var(--open-dropdown-menuItem-hover-color);
        }
        &.is-disabled {
            color: var(--open-dropdown-menuItem-disabled-color);
            cursor: not-allowed;
            background-image: none;
        }
    }
    .open-dropdown-separator {
        margin: 6px 0;
        border-top: 1px solid var(--open-dropdown-menuItem-divided-color);
    }
}
  