.open-input {
    --open-input-bg-color: var(--open-color-white);
    --open-fill-color-blank: var(--open-color-white);
    --open-input-border-radius: var(--open-border-radius-base);
    --open-input-border-color: var(--open-border-color);
    --open-input-focus-border-color: var(--open-color-primary);
    --open-input-placeholder-color: var(--open-text-color-placeholder);
}

.open-input {
    /*width: 100%;*/
    .open-input__wrapper {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--open-input-bg-color, var(--open-fill-color-blank));
        background-image: none;
        border-radius: var(--open-input-border-radius, var(--open-border-radius-base));
        box-shadow: 0 0 0 1px var(--open-input-border-color, var(--open-border-color)) inset;
        cursor: text;
        flex-grow: 1;
        padding: 1px 11px;
        transform: translateZ(0);
        transition: var(--open-transition-duration);

        &.is-focus {
            box-shadow: 0 0 0 1px var(--open-input-focus-border-color) inset !important;
        }

        &:hover {
            box-shadow: 0 0 0 1px var(--open-border-color-hover) inset !important;
        }

        .open-input__prefix {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: var(--open-text-color-placeholder);

            .open-input__prefix-inner {
                > :last-child {
                    margin-right: 8px;
                }
            }
        }

        .open-input__inner {
            width: 100%;
            flex: 1;
            border: none;
            outline: none;
            padding: 0;
            box-sizing: border-box;
            background: none;
            font-size: inherit;
            --open-input-inner-height: calc(var(--open-input-height, 32px) - 2px);
            line-height: var(--open-input-inner-height);

            &:focus {
                outline: none;
            }
        }

        .open-input__suffix {
            .open-input__suffix-inner{
                margin-left: 8px;
                height: inherit;
                line-height: inherit;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                .open-input__icon {
                    cursor: pointer;
                }
                >:first-child {
                    margin-right: 8px;
                }

            }
        }
    }


}

.open-input-textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: var(--open-font-size-base);
    
    .open-textarea__inner {
        position: relative;
        display: block;
        resize: vertical;
        padding: 5px 11px;
        line-height: 1.5;
        box-sizing: border-box;
        width: 100%;
        font-size: inherit;
        font-family: inherit;
        color: var(--open-input-text-color, var(--open-text-color-regular));
        background-color: var(--open-input-bg-color, var(--open-fill-color-blank));
        background-image: none;
        -webkit-appearance: none;
        box-shadow: 0 0 0 1px var(--open-input-border-color, var(--open-border-color)) inset;
        border-radius: var(--open-input-border-radius, var(--open-border-radius-base));
        transition: var(--open-transition-box-shadow);
        border: none;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px var(--open-input-focus-border-color) inset;
        }
        &::placeholder {
            color: var(--open-input-placeholder-color);
        }
    }

    .open-input__count {
        background: var(--open-bg-color);
        color: var(--open-text-color-secondary);
        position: absolute;
        right: 10px;
        bottom: 5px;
        font-size: 12px;
        line-height: 14px;
    }
}