.open-button {
    --open-button-font-weight: var(--open-font-weight-primary);
    --open-button-border-color: var(--open-border-color);
    --open-button-bg-color: var(--open-fill-color-blank);
    --open-button-text-color: var(--open-text-color-regular);
    --open-button-disabled-text-color: var(--open-disabled-text-color);
    --open-button-disabled-bg-color: var(--open-fill-color-blank);
    --open-button-disabled-border-color: var(--open-border-color-light);
    --open-button-hover-text-color: var(--open-color-primary);
    --open-button-hover-bg-color: var(--open-color-primary-light-9);
    --open-button-hover-border-color: var(--open-color-primary-light-7);
    --open-button-active-text-color: var(--open-button-hover-text-color);
    --open-button-active-border-color: var(--open-color-primary);
    --open-button-active-bg-color: var(--open-button-hover-bg-color);
    --open-button-outline-color: var(--open-color-primary-light-5);
    --open-button-active-color: var(--open-text-color-primary);
}
.open-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--open-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: var(--open-button-font-weight);
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: var(--open-button-bg-color);
    border: var(--open-border);
    border-color: var(--open-button-border-color);
    padding: 8px 15px;
    font-size: var(--open-font-size-base);
    border-radius: var(--open-border-radius-base);
    & + & {
        margin-left: 12px;
    }
    &:hover,
    &:focus {
        color: var(--open-button-hover-text-color);
        border-color: var(--open-button-hover-border-color);
        background-color: var(--open-button-hover-bg-color);
        outline: none;
    }
    &:active {
        color: var(--open-button-active-text-color);
        border-color: var(--open-button-active-border-color);
        background-color: var(--open-button-active-bg-color);
        outline: none;
    }
    &.is-plain {
        --open-button-hover-text-color: var(--open-color-primary);
        --open-button-hover-bg-color: var(--open-fill-color-blank);
        --open-button-hover-border-color: var(--open-color-primary);
    }
    /*round*/
    &.is-round {
        border-radius: var(--open-border-radius-round);
    }
    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }
    /*disabled*/
    &.is-disabled, &.is-disabled:hover, &.is-disabled:focus,
    &[disabled], &[disabled]:hover, &[disabled]:focus
    {
        color: var(--open-button-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--open-button-disabled-bg-color);
        border-color: var(--open-button-disabled-border-color);
    }
    [class*=open-icon] + span {
        margin-left: 6px;
    }
}
@each $val in primary,success,warning,info,danger {
    .open-button--$(val) {
    --open-button-text-color: var(--open-color-white);
    --open-button-bg-color: var(--open-color-$(val));
    --open-button-border-color: var(--open-color-$(val));
    --open-button-outline-color: var(--open-color-$(val)-light-5);
    --open-button-active-color: var(--open-color-$(val)-dark-2);
    --open-button-hover-text-color: var(--open-color-white);
    --open-button-hover-bg-color: var(--open-color-$(val)-light-3);
    --open-button-hover-border-color: var(--open-color-$(val)-light-3);
    --open-button-active-bg-color: var(--open-color-$(val)-dark-2);
    --open-button-active-border-color: var(--open-color-$(val)-dark-2);
    --open-button-disabled-text-color: var(--open-color-white);
    --open-button-disabled-bg-color: var(--open-color-$(val)-light-5);
    --open-button-disabled-border-color: var(--open-color-$(val)-light-5);
}
    .open-button--$(val).is-plain {
    --open-button-text-color: var(--open-color-$(val));
    --open-button-bg-color: var(--open-color-$(val)-light-9);
    --open-button-border-color: var(--open-color-$(val)-light-5);
    --open-button-hover-text-color: var(--open-color-white);
    --open-button-hover-bg-color: var(--open-color-$(val));
    --open-button-hover-border-color: var(--open-color-$(val));
    --open-button-active-text-color: var(--open-color-white);
    }
}
.open-button--large {
    --open-button-size: 40px;
    height: var(--open-button-size);
    padding: 12px 19px;
    font-size: var(--open-font-size-base);
    border-radius: var(--open-border-radius-base);
}
.open-button--small {
    --open-button-size: 24px;
    height: var(--open-button-size);
    padding: 5px 11px;
    font-size: 12px;
    border-radius: calc(var(--open-border-radius-base) - 1px);
}

