
@keyframes rotating {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.open-icon {
    --op-icon-color: inherit;
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--op-icon-color);
    font-size: inherit;

    &.loading {
        animation: rotating 2s linear infinite;
    }

    svg {
        height: 1em;
        width: 1em;
    }
}
  