.open-collapse {
    --open-collapse-border-color: var(--open-border-color-light);
    --open-collapse-header-height: 48px;
    --open-collapse-header-bg-color: var(--open-fill-color-blank);
    --open-collapse-header-text-color: var(--open-text-color-primary);
    --open-collapse-header-font-size: 13px;
    --open-collapse-content-bg-color: var(--open-fill-color-blank);
    --open-collapse-content-font-size: 13px;
    --open-collapse-content-text-color: var(--open-text-color-primary);
    --open-collapse-disabled-text-color: var(--open-disabled-text-color);
    --open-collapse-disabled-border-color: var(--open-border-color-lighter);
    border-top: 1px solid var(--open-collapse-border-color);
}

.open-collapse-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--open-collapse-header-height);
    line-height: var(--open-collapse-header-height);
    background-color: var(--open-collapse-header-bg-color);
    color: var(--open-collapse-header-text-color);
    cursor: pointer;
    font-size: var(--open-collapse-header-font-size);
    font-weight: 500;
    transition: border-bottom-color var(--open-transition-duration);
    outline: none;
    border-bottom: 1px solid var(--open-collapse-border-color);
    &.is-disabled {
        color: var(--open-collapse-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
    }
    &.is-active {
        border-bottom-color: transparent;
        .header-angle {
            transform: rotate(90deg);
        }
    }
    .header-angle {
        transition: transform var(--open-transition-duration);
    }
}
.open-collapse-item__content {
    will-change: height;
    background-color: var(--open-collapse-content-bg-color);
    overflow: hidden;
    box-sizing: border-box;
    font-size: var(--open-collapse-content-font-size);
    color: var(--open-collapse-content-text-color);
    border-bottom: 1px solid var(--open-collapse-border-color);
    padding-bottom: 25px;
}
.slide-enter-active, .slide-leave-active {
    transition: height var(--open-transition-duration);
}