.open-tooltip {
    --open-popover-bg-color: var(--open-bg-color-overlay);
    --open-popover-bg-color-dark: var(--open-color-black);
    --open-popover-bg-before-color: var(--open-color-black);
    --open-popover-font-size: var(--open-font-size-base);
    --open-popover-border-color: var(--open-border-color-light);
    --open-popover-padding: 5px 11px;
    --open-popover-border-radius: 4px;
    display: inline-block;
    padding: 12px;
}

.open-tooltip {
    .open-tooltip__popper {
        position: relative;
        &.light {
            background: var(--open-popover-bg-color);
            color: var(--open-text-color-regular);
            --open-popover-bg-before-color: var(--open-popover-bg-color);
            border: 1px solid var(--open-popover-border-color);
        }
        &.dark {
            background: var(--open-popover-bg-color-dark);
            color: var(--open-popover-bg-color);
            --open-popover-bg-color: var(--open-bg-color-overlay);
            border: 1px solid var(--open-text-color-primary);
        }
        padding: var(--open-popover-padding);
        border-radius: var(--open-popover-border-radius);
        font-size: 12px;
        box-sizing: border-box;
        z-index: 1000;
        line-height: 20px;
        text-align: justify;
        word-break: break-word;
        box-shadow: 0 0 10px 1px var(--open-box-shadow-color);

        /*设置两个内容去三角形的地方*/
        #arrow,
        #arrow::before {
            position: absolute;
            width: 8px;
            height: 8px;
            box-sizing: border-box;
            background: var(--open-popover-bg-before-color);
        }

        #arrow {
            visibility: hidden;
        }

        #arrow::before {
            visibility: visible;
            content: "";
            transform: rotate(45deg);
        }

        &[data-popper-placement^='top'] > #arrow {
            bottom: -5px;
        }

        &[data-popper-placement^='bottom'] > #arrow {
            top: -5px;
        }

        &[data-popper-placement^='left'] > #arrow {
            right: -5px;
        }

        &[data-popper-placement^='right'] > #arrow {
            left: -5px;
        }

        &[data-popper-placement^="top"] > #arrow::before {
            border-right: 1px solid var(--open-popover-border-color);
            border-bottom: 1px solid var(--open-popover-border-color);
        }

        &[data-popper-placement^="bottom"] > #arrow::before {
            border-left: 1px solid var(--open-popover-border-color);
            border-top: 1px solid var(--open-popover-border-color);
        }

        &[data-popper-placement^="left"] > #arrow::before {
            border-right: 1px solid var(--open-popover-border-color);
            border-top: 1px solid var(--open-popover-border-color);
        }

        &[data-popper-placement^="right"] > #arrow::before {
            border-left: 1px solid var(--open-popover-border-color);
            border-bottom: 1px solid var(--open-popover-border-color);
        }
    }
    .slide-fade-enter-active,
    .slide-fade-leave-active {
        transition: opacity var(--open-transition-duration);
    }

    .slide-fade-enter-from,
    .slide-fade-enter-to {
        opacity: 0;
    }
}
